/Project Code/javablock/nbproject/private/
/Project Code/javablock/build/
/Project Code/javablock/dist/
/MainProjectCode/dist/
/Javablock Code/javablock/nbproject/private/
*.class
/Revised JB version/nbproject/private/
/Revised JB version/dist/
/Revised JB version/build/
/Main Project/XoliswaMVC/dist/